
AI_PROVIDER=
AI_MODEL=
AI_BASE_URL=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
META_API_KEY=
ELEVEN_LABS_API_KEY=
GEMINI_API_KEY=
CURSOR_API_KEY=
TIGER_DB_PGPASSWORD=
TIGER_DB_PGUSER=
TIGER_DB_PGDATABASE=
TIGER_DB_PGHOST=
TIGER_DB_PGPORT=
TIGER_DB_PGSSLMODE=
ALPACA_API_KEY=
ALPACA_API_SECRET=
BACKEND_PORT=
FRONTEND_PORT=
VITE_API_URL=